<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cards</title>
</head>
<body>
    <div>
        <% cards.forEach(card => { %>
            <p> <%= card.name %> </p>
            <p> <%= card.price %> </p>
            <p> <%= card.rarity %> </p>
            <p> <%= card.stock %> </p>
            <form action="/cards/<%= card.id %>/delete" method="POST">
                <button type="submit">Delete</button>
            </form>
            <a href="/cards/<%= card.id %>/edit">Edit</a>
        <% }) %>

        <a href = "/cards/new"> Add new card </a>
    </div>
</body>
</html>